h1 {
    font-family: Bahnschrift;
    color: darkorange;
    border: 10px solid #303841;
    font-weight: bolder;
    font-style: oblique;
    font-size: 45px;
    background-color: #303841;
    padding: 15px 15px;
    border-radius: 4px;
}
h2{
    font-size: 26px;
    color: #3A4750;
}
.aboutImg.creatorPic{
   border-radius: 15px;
}

.creatorDetail{
    position: absolute;
}

td{
    padding: 20px;
}




