.banner {
    border: medium solid #303841;
    position: relative;
    margin-top: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Candara Light";
    background-color: rgba(190, 49, 68, 1);
}

.oneandhalf {
    line-height: 1.3em;
}

h1 {
    margin: 30px;
    line-height: 42px;
    font-size: 35px;
    color: white;
    text-shadow: 5px 5px 5px #3A4750;
    font-weight: bolder;
    z-index: 61;
    font-family: "Candara Light";
}

.subheader p {
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Candara Light";
    color: white;
    margin-bottom: 20px;
}

.subheader p span {
    background-color: #3A4750;
    border-radius: 4px;
    padding: 10px;
}

.testbox {
    justify-content: center;
    /*align-items: center;*/
    width: 80%;
}


#eventForm {
    right: 0;
    margin-top: -550px;
    max-width: 50%;
    padding: 16px;
    background-color: white;
    /*width: 100%;*/
    /*padding: 20px;*/
    border-radius: 6px;
    z-index: 60;
}


/*.banner::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 60%;*/
/*}*/
img.groupdinner {
    width: 100%;
    height: 600px;
    opacity: 0.7;
    z-index: 1;
}

/*.imgBackground{*/
/*    background-color: darkgrey;*/
/*}*/

/*input, select, textarea {*/
/*    margin-bottom: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*}*/

.item input {
    width: 30%;
    padding: 5px;
}

/*form div span input {*/
/*    display: inline-block;*/
/*}*/

input[type="date"] {
    padding: 4px 5px;
}

.dueBy input[type="date"] {
    margin-right: 20px;
}

.dueBy input[type="time"] {
    padding: -2px -2px -2px -2px;
}

select {
    width: 30%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(30% - 12px);
    padding: 5px;
}

.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #d6e0f5;
    color: #d6e0f5;
}

.item {
    position: relative;
    margin: 10px 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

.item p {
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px #303841;
}

.item input {
    position: relative;
    font-size: 14px;
    color: black;
}

.eventDate {
    position: relative;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.eventDate p {
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px #303841;
}

.eventDate input {
    position: relative;
    font-size: 14px;
    color: black;
}

.eventTime {
    position: relative;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.eventTime p {
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px #303841;
}

.eventTime input {
    position: relative;
    font-size: 14px;
    color: black;

}

.decisionDate {
    position: relative;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.decisionDate p {
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px #303841;
}

.decisionDate input {
    position: relative;
    font-size: 14px;
    color: black;
}

.addToInvite {
    position: relative;
    margin: 10px 0;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: inline;
}

input[type="checkbox"] {
    display: inline;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
    margin-left: 20px;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}

.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

input[type="submit"] {
    margin-top: 10px;
    text-align: center;
    background: rgba(190, 49, 68, 1);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

/*button {*/

/*    font-size: 14px;*/
/*}*/

/*button:hover {*/
/*    background: #6eb8dd;*/
/*}*/

/*____________________________LINK EXPIRED PAGE SPECIFIC CSS BLOW LINE________________*/
.linkExpired {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

.bannerPageExpired {
    border: medium solid #303841;
    position: relative;
    margin-top: 75px;
    border-radius: 10px;
    height: 200px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Candara Light";
    background-color: rgba(190, 49, 68, 1);
}

img.decisionLogo {
    margin-top: 10px;
    width: 35%;
    height: 35%;

}


@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    15% {
        left: 100px;
        top: 0px;
    }
    30% {
        left: 0px;
        top: 0px;
    }
    30% {
        right: 300px;
        top: 0px;
    }
    45% {
        right: 0px;
        top: 0px;
    }
    45% {
        left: 100px;
        top: 0px;
    }
    60% {
        left: 0px;
        top: 0px;
    }
    60% {
        right: 300px;
        top: 0px;
    }
    75% {
        right: 0px;
        top: 0px;
    }
    75% {
        left: 100px;
        top: 0px;
    }
    90% {
        left: 0px;
        top: 0px;
    }
    90% {
        left: 0px;
        bottom: 0px;
    }


}

img.decisionLogo {
    width: 35%;
    height: 35%;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*__________________ADD MORE GUESTS SPECIFIC CSS BELOW___________________________*/

.email {
    position: relative;
    margin: 10px 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

.email p {
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.email input {
    position: relative;
    font-size: 14px;
    color: black;
}