html, body {
    min-height: 60%;
    background: -webkit-linear-gradient(white, #3A4750)
;
}

/*body, div, form, input, select, textarea, p {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    outline: none;*/
/*    font-family: Roboto, Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    color: #666;*/
/*    line-height: 22px;*/
/*}*/
.oneandhalf {line-height: 1.3em;}
h1 {
    margin: 30px;
    line-height: 42px;
    font-size: 45px;
    color: white;
    text-shadow: 5px 5px 5px #3A4750;
    font-weight: bolder;
    z-index: 2;
    font-family: "Candara Light";
}
.subheader{
    margin: 30px;
    font-size: 24px;
    color: #fff;
    z-index: 2;
    font-family: "Candara Light" ;
}

.testbox {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*height: inherit;*/
    /*padding: 20px;*/
}

.linkExpired {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5;
}

.banner {
    border: medium solid #303841;
    position: relative;
    margin-top: 100px;
    border-radius: 10px;
    height: 300px;
    /*background-image: url("/uploads/media/default/0001/02/53019e0a8aae1c494bf9489d3f1db33cd0dd49a1.jpeg");*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Candara Light";
    background-color: rgba(190, 49, 68);
}

.banner::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
}

input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.item input {
    width: 30%;
    padding: 5px;
}
form div span input{
    display:inline-block;
}

input[type="date"] {
    padding: 4px 5px;
}
.dueBy  input[type="date"]{
    margin-right: 20px;
}

.dueBy  input[type="time"] {
    padding: -2px -2px -2px -2px;
}

select {
    width: 30%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(30% - 12px);
    padding: 5px;
}

.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #d6e0f5;
    color: #d6e0f5;
}

.item {
    position: relative;
    margin: 10px 0;
    margin-bottom: 10px;
}
.addToInvite{
    position: relative;
    margin: 10px 0;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: inline;
}

input[type="checkbox"] {
    display: inline;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}

.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0087cc;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #6eb8dd;
}

img.decisionLogo {
    margin-top: 10px;
    width: 50%;
    height: 50%;

}
@keyframes example {
    0%   {left:0px; top:0px;}
    15%  {left:100px; top:0px;}
    30%  {left:0px; top:0px;}
    30%  {right:100px; top:0px;}
    45%  {right:0px; top:0px;}
    45%  {left:100px; top:0px;}
    60%  {left:0px; top:0px;}
    60%  {right:100px; top:0px;}
    75%  {right:0px; top:0px;}
    75%  {left:100px; top:0px;}
    90%  {left:0px; top:0px;}
    90%  { left:0px; bottom:0px;}


}
img.decisionLogo{
    width: 50%;
    height: 50%;
    position: relative;
    animation-name: example;
    animation-duration: 6s;
}