.up-down-vote-button {
    border: none;
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    border-radius: 40px;
}


#upbutton {

}

#downbutton {
    background-color: indianred;
    margin-left: 15%;
}

#submit-btn:hover {
    box-shadow: 0px 1px 18px #DFDFDE;
}

.decision-card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    margin: 6rem auto 6rem auto;
    height: 300px;
    width: 500px;
}

.decision-card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-top: 13px;
    text-align: center;
}

.event-image {
    position: center;
    height: 300px;
    border-radius: 4px;
    display: inline;
    margin-left: -45px;
    max-width: 500px;
}

.caption{
    margin-top: 20px;
}
.search-image {
    position: center;
    height: 300px;
    border-radius: 4px;
    display: inline;
    max-width: 500px;
    margin-left: -45px;
}
#card-private{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}

#card-content-private {
    padding: 12px 44px;
}
#card2{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 540px;
    width: 45%;
    margin-left: 20px;
}

#card-content-card2{
    padding: 12px 44px;
}
#card1{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 540px;
    margin-right: 20px;
    margin-left: 20px;
    width: 45%;
}

#card-content-card1{
    padding: 12px 44px;
}

/*.tile {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 5px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*    box-shadow: -2px -2px 7.5px 0px rgba(68, 68, 68, 0.4);*/
/*}*/

.welcome h1{
    font-size: 55px;
    font-weight: bolder;
    font-family: "Candara";
    margin-left: -20%;
    margin-top: 15px;
}
.welcome p{
    font-size: 35px;
    font-weight: bold;
    font-family: "Candara light";
    margin-left: -20%;
    margin-top:-20px ;
}
.searchbar1 {
    height: 200px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    top: 15px;
    /*right: 600px;*/
}
.homepage-button{
    margin-top: -15px;
}

.hompageImg{
    position: absolute;
    left: 0;
    top: 175px;
    z-index: -100;
}



.item {
    width: 10em;
}

#pizzaSliceImageDiv{
    width: 50px;
    height: 50px;
}

img#pizzaSliceImage{
    width: 10%;
    height: 10%;
}
#masonry-page{
    display: flex;
    flex: 1;
}
#grid {
    display: grid;
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, 1fr);
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#masonry-page,
#card-page {
    display: flex;
}
#masonry-page #grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

#masonry-page .main-content,
#card-page .main-content {
    flex: 1;
}
.thumbnail{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 460px;
    margin: 6rem auto 8.1rem auto;
    width: 250px;
}
#submit-btn {
    background: #BE3144;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #8D8DAA;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 40px;
    transition: 0.25s;
    width: 153px;
}

#submit-btn:hover {
    box-shadow: 0px 1px 18px #3A4750;
}

button.submit-btn {
    background: #BE3144;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #8D8DAA;
    cursor: pointer;
    color: white;
    margin-left: 140px;
    font-family: "Raleway SemiBold", sans-serif;
    font-weight: bold;
    height: 42.3px;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}

.vote-submit-btn {
    position: relative;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #8D8DAA;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    font-weight: bold;
    height: 42.3px;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
    background-color: darkseagreen;
    /*margin-left: 50%;*/
}

button.submit-btn:hover  {
    box-shadow: 0px 1px 18px #3A4750;
}
footer > p {
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 2.5rem;
}
.row{
    column-gap: 50px;
}

#card-content-card1.event-image{
    position: fixed;
    text-align: center;
}
